<div class="row" style="margin-top: 30px">
  
  <!-- item1 -->
  <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src={{imageCategoryStrings[0]}} alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">{{titleCategoryStrings[0]}}</a>
        </h4>
        <p class="card-text">{{detailCategoryStrings[0]}}</p>
      </div>
    </div>
  </div>

  <!-- item2 -->
  <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src={{imageCategoryStrings[1]}} alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">{{titleCategoryStrings[1]}}</a>
        </h4>
        <p class="card-text">{{detailCategoryStrings[1]}}</p>
      </div>
    </div>
  </div>

  <!-- item3 -->
  <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src={{imageCategoryStrings[2]}} alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">{{titleCategoryStrings[2]}}</a>
        </h4>
        <p class="card-text">{{detailCategoryStrings[2]}}</p>
      </div>
    </div>
  </div>

  <!-- item4 -->
  <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src={{imageCategoryStrings[3]}} alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">{{titleCategoryStrings[3]}}</a>
        </h4>
        <p class="card-text">{{detailCategoryStrings[3]}}</p>
      </div>
    </div>
  </div>

</div>
<!-- /.row -->